html {
  font-family: "Unica One", sans-serif;
}

svg {
  position: relative;
}

h1 {
  color: #fff;
  position: absolute;
  top: 160px;
  left: 65px;
  z-index: 10;
  max-width: 350px;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {

  0% {
    filter: blur(14px);
    opacity: .4;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}

#rainbow-violet {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-indigo {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-blue {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-green {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-yellow {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-orange {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

#rainbow-red {
  stroke-dasharray: 11125px;
  stroke-dashoffset: 11125px;
  animation: rainbowing 1s ease forwards;
}

@keyframes rainbowing {

  0% {
    stroke-dasharray: 11125px;
    stroke-dashoffset: 11125px;
  }

  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

#narwhal-body {
  stroke-dasharray: 1981px;
  stroke-dashoffset: 1981px;
  animation: narwhaling 1s ease forwards;
}

@keyframes narwhaling {

  0% {
    stroke-dasharray: 1981px;
    stroke-dashoffset: 1981px;
  }

  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

#narwhal-eye {
  stroke-dasharray: 73px;
  stroke-dashoffset: 73px;
  animation: eye 1s ease forwards;
}

@keyframes eye {

  0% {
    stroke-dasharray: 73px;
    stroke-dashoffset: 73px;
  }

  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}
